<nav class="nav-menu">
    <ul class="nav-list">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" data-testid="nav-home">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rest" data-testid="nav-rest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rest API
            </NavLink>
        </div>
        <li class="nav-item">
            <NavLink href="/graphql" class="nav-link" data-testid="nav-graphql">
                GraphQL
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/websocket" class="nav-link" data-testid="nav-websocket">
                WebSocket
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/signalr" class="nav-link" data-testid="nav-signalr">
                SignalR
            </NavLink>
        </li>
    </ul>
</nav>
